html  
  head
    title="Spotify Hipster Search"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel="stylesheet", type="text/css", href="styles.css")


    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1 user-scalable=0')

  body
    #app!= content
  script(src='https://code.jquery.com/jquery-2.1.4.min.js', defer)
  script(src="//use.typekit.net/onh5asg.js")
  script try{Typekit.load();}catch(e){}
  script(src='http://0.0.0.0:8090/js/app.js', defer)
  script(src='http://io.jose-canahui.com:8090/js/app.js', defer)
  scipt (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){ (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o), m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); ga('create', 'UA-65824130-1', 'auto'); ga('send', 'pageview');